.symbolsView {
  display: flex;
  flex-direction: row-reverse;
  padding: 10px 0;
  padding-top: 10px;
  padding-left: 44px;
}

@media (max-width: 1024px) {
  .symbolsView {
    display: block;
  }

  .symbolsView__chart {
    margin: 0;
  }

}

.symbolsView__chart {
  margin: 0 35px;
  padding: 12px;
  width: 400px;
}

.symbolsView__cards {
  flex: 1;
}