.symbolsView {
  padding: 0 0 10px 0;
}

@media (min-width: 1024px) {
  .symbolsView__chart {
    margin: 0 35px;
    width: 400px;
    position: fixed;
    right: 20px;
  }

  .symbolsView__cards {
    width: calc(100% - 470px);
  }
}

@media (max-width: 1024px) {
  .symbolsView {
    display: block;
  }

  .symbolsView__chart {
    position: sticky;
    top: 96px;
    z-index: 1;
    background-color: #e3e3e4;
  }
}

.symbolsView__cards {
  padding-top: 28px;
  padding-left: 20px;
  margin-right: 20px;
}

.symbolsView__chart {
  padding: 12px;
}

@media (max-width: 767px) {
  .symbolsView__chart {
    margin: 0;
  }

  .symbolsView__cards {
    padding: 20px;
  }

  .symbolsView {
    padding: 0;
  }
}