.symbolCard {
  height: 173px;
  background-color: white;
  border-radius: 5px;
  transition: transform 0.1s ease-in-out;
  cursor: pointer;
  position: relative;

  & * {
    pointer-events: none;
  }
}

.symbolCard__mobile {
  margin-bottom: 10px;
}

.symbolCard__active {
  box-shadow: 0 0 20px rgb(0, 0, 0);
  transform: scale(1.06);
  background: black;
  color: white;

  .symbolCard__title {
    color: yellow;
  }
}

.symbolCard__inactive {
  transform: scale(0.94);
}

.symbolCard__title {
  height: 28px;
  line-height: 28px;
  background-color: black;
  color: white;
  text-indent: 9px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

}

.symbolCard__icon {
  height: 23px;
}

.symbolCard__row {
  display: flex;
  height: 23px;
  font-size: 11px;
  margin-bottom: 10px;
}

.symbolCard__rowText {
  text-align: right;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 1;
  padding-right: 9px;
}

.symbolCard__priceRow {
  display: flex;
  height: 45px;
}

.symbolCard__priceTitle {
  text-indent: 6px;
  font-size: 11px;
  text-transform: uppercase;
  flex: 1;
  line-height: 38px;
}

.symbolCard__priceValue {
  padding-right: 9px;
  font-size: 20px;
  font-weight: 800;
}

.symbolCard__trend {
  width: 50px;
  height: 40px;
  position: absolute;
  top: -12px;
  right: -15px;
}