.priceChart {
  width: 400px;
  height: 300px;
  overflow: hidden;
  display: flex;
}

.priceChart__loader {
  margin-top: 130px;
}

.priceChart__noData {
  text-align: center;
  line-height: 180px;
}

.priceChart__activeTitle {
  background: yellow;
  padding: 11px;
  border-radius: 5px;
  height: 46px;
}


@media (max-width: 1023px) {
  .priceChart__loader {
    margin-top: 60px;
  }

  .priceChart__container {
    height: 180px;
    overflow: hidden;
  }

  .priceChart {
    max-height: 250px;
    height: 180px;
    width: 100%;
  }
}