.priceChart {
  width: 400px;
  height: 300px;
  display: flex;
}

.priceChart__loader {
  margin-top: 130px;
}

@media (max-width: 1023px) {
  .priceChart {
    max-height: 250px;
    height: 180px;
    width: 100%;
  }
}